* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body {
  min-height: 100vh;
}

#background {
  background-image: url("/image1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 90%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.anchor {
  text-decoration: none;
}

.anchor:hover {
  background-color: rgb(144, 144, 144);
}

.title {
  color: rgb(0, 0, 0);
  font-size: 50px;
}

.SUBtitle {
  font-size: 50px;
}

#arrow {
  width: 220px;
  margin-bottom: 130px;
}